/* ROBOTO betűtípus importálása */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, #f6d200 12.5%, #000000 12.5%, #000000 25%, #f6d200 25%, #f6d200 37.5%, #000000 37.5%, #000000 50%, #f6d200 50%, #f6d200 62.5%, #000000 62.5%, #000000 75%, #f6d200 75%, #f6d200 87.5%, #000000 87.5%);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.sajat-fo-container {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 15px;
    border-style: solid 2px white;
    margin-top: 20px;

}



  /* QR KÓD formázása */
.qr_code{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; /* vízszint köz igazít */
    align-items: center; /* függő köz igazít */
}

#qrkod_design{
    background-color: #f2bd00;
    color: black;
    font-weight: bold;
    padding: 20px;
    margin-right: 10px;
}



/* Sárga elválasztó csík */
.sarga-csik {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 5px;
    background-color: #f2bd00;
}



/* Elemek formázása: */
h1, h2{
    justify-content: center;
}

h4{
    text-align: center;
}

p{
    color:black;
    text-align: center;
    justify-content: center;
}

/* Link formázása: */
a {
    color: white;
    text-decoration: none;
}



/* Raktáros, Lézervágó feladatok lista formázása: */
.sajatLista{
    list-style-type: square;
    color: #f2bd00;
    list-style-position: outside;
}

.sajatLista li::marker {
    color: white; /* A felsorolás színe */
}

li{
    text-align: justify;
}



/* BELÉPÉS GOMB sárga designal hoover */
.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* sárga 50fokkal elforgatott effekt, ha az egeret rávisszük */
#button-sarga-fordit {
    transform: rotate(50deg);
    width: 110%;    /* 110%!! */
    height: 250%;
    left: -200px;
    top: -30px;
    background: #F2BD00;
    position: absolute;
    transition: all .5s ease-Out;   /* átmeneti animáció */
}

#button-sargacsikkal:hover #button-sarga-fordit {
    left: 0;  /* az adott elem bal pozíciója a szülőelem bal szélétől számított 0 pixelre kerül. Balra tapad. */
}

#button-sargacsikkal:hover a {
    color: white;
}

#button-sargacsikkal {
    width: 170px;
    height: 50px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;  /* túlcsorduló tartalmakat nem mutatjuk meg az elem határán túl */
    cursor: pointer;
}

#button-sargacsikkal a {
    position: relative;
    transition: all .45s ease-Out;
}



/* KIJELENTKEZÉS sárga gomb */
#kijelentkezesGomb{
    margin-top: 10px;
}