body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dolgozok{
    justify-content: center;
    align-items: center;
    border-style: groove;
    border: 2px solid black;
    padding: 10px;
}
.megrendelesek{
    justify-content: center;
    align-items: center;
    border-style: groove;
    border: 2px solid black;
    padding: 10px;

}
.alapanyagok{
    justify-content: center;
    flex-direction: column;
    border-style: groove;
    border: 2px solid black;
    padding: 10px;

}

.bevitel{
    display: grid;
    grid-template-columns: 300px;
    gap: 10px;
    width: 90%;
    max-width: 300px;
    justify-content: start; 
    background-color: aqua;
    
}
.print_page{
    background-color: aquamarine;
    justify-content: end;
    flex-direction: column;
    width: 210px;
    height: 297px;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
}
