body{
    margin: 0;
    padding: 10px;
    
    
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    gap: 30px;
    padding: 10px;
    
}   
.adat_card{
    width: 500px;
    border: 1px solid black;
    max-height: 600px;
    padding: 10px;
}

.print_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 30vw;
    height: 600px;
    gap: 20px;
    border: 1px solid black;
    padding-right: 10px;
}
