body{
   margin: 0;
       
}

/*login oldal cuccai*/
.logincontainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
}
/*admin oldal cuccai*/
.admincontainer{
    
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;    
    gap: 30px;
    
}  
.admincard{
    width: 500px;
    border: 1px solid black;
    max-height: 600px;
    padding: 10px;
}
.adminnavbar{
    color: azure;
    height: auto;
    width: 20%;
    background-color: rgb(80, 103, 233);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:  10px;
}

.print_page{
    width: 500px;
    border: 1px solid black;
    max-height: 600px;
    padding: 10px;
}


input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

button{
    height: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*raktar oldal cuccaci*/
.raktarcontainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    
}
.raktaroldalsav{
    color: azure;
    height: auto;
    width: 20%;
    background-color: rgb(80, 103, 233);
    padding: 10px;


}
.raktartartalom{
    margin: 0;
    width: 1280px;
    height: auto;
    display: flex;
    justify-content: end;
    
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
  }
tr {    
    border-bottom: 1px solid #ddd;
  }

 td{
    position: sticky;
    padding: 10px;
    text-align: center;
 } 

#raktardarab{
    height: 30px;
    width: auto;
    border-style: none;
    
}
#raktarkilepesgomb{
    width: 100px;
    border-radius: 4px;
    border-style: none;
}
#raktarrogzitgomb{
    border-radius: 4px;
    border-style: none;
    
}
/*operator oldal cuccai*/
.operatorcontainer{
    margin: 0;
    width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: row;  
}
.operatoroldalsav{
    color: azure;
    height: auto;
    width: 30%;
    background-color: rgb(80, 103, 233);
    padding: 10px;

}
.operatortartalom{
    height: auto;
    width: 100%;
    
}
 


