body{
   margin: 0;
       
}


.logincontainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 10px;

}

.admincontainer{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    gap: 30px;
    padding: 10px;
    
}  
.adat_card{
    width: 500px;
    border: 1px solid black;
    max-height: 600px;
    padding: 10px;
}

.print_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 30vw;
    height: 600px;
    gap: 20px;
    border: 1px solid black;
    padding-right: 10px;
}


input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

button{
    height: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*operator oldal*/
.operatorcontainer{
    display: flex;
    flex-direction: row;

}
.oldalsav{
    height: auto;
    width: 15%;
    background-color: aqua;
    

}
.tartalom{
    height: auto;
    width: 100%;
    background-color: coral;
}
li{
    list-style-type: none;
}

 


