{% load static %}
<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="LemezKez - Raktár Lemezkezelés Vizsgaremek">
  <meta name="keywords" content="HTML, CSS, JavaScript, Django">
  <meta name="author" content="Németh Zoltán, Nyisztor Zoltán, Kovács Marcell">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!--bootstrap.min belinkelése-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!--saját css linkelése-->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

   <!--saját javascript linkelése-->
  <script defer src="{% static 'js/nyomtatas.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/nyomtatas.css' %}">
  
  <title>LemezKez - HOME</title>
  
</head>

<body>
  <input type="text" value="{{ qr }}" id="qr" style="color: black;">
  <!--p id = "qr" style="color: aliceblue;" >Ip:{{qr}}</p-->
  <!-- Flex Container -->
  <div class="container">


    <h1>Üdvözöllek a LemezKez raktári lemezkezelés oldalán!</h1>
    {% if user.is_authenticated%}
    Belépve, mint {{user.username}} !
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <div class="form-group" id="kijelentkezesGomb"><button class="btn btn-block btn btn-warning"
          type="submit">Kijelentkezés</button></div>
    </form>
    {%else%}

    <div class="button" id="button-sargacsikkal">
      <div id="translate"></div>
      <a href="{%url 'login'%}">Bejelentkezés</a>
    </div>

    <!-- End Container -->

    <!--elválasztó-->
    <div class="sarga-csik"></div>
    <!--elválasztó-->


    {%endif%}

    <!--elválasztó-->
    <div class="sarga-csik"></div>
    <!--elválasztó-->

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h2>Raktáros Feladatok:</h2>
          <ul>
            <li>Anyagok előkészítése a vágáshoz</li>
            <li>Beérkezett áruk átvétele és rögzítése</li>
            <li>Raktárkészlet nyomon követése</li>
            <li>Rendelések összekészítése és kiadása</li>
            <li>Raktári rend fenntartása</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Lézervágó Feladatok:</h2>
          <ul>
            <li>Anyagok előkészítése a vágáshoz</li>
            <li>Lézervágó gép beállítása</li>
            <li>Sugárközpont ellenőrzése</li>
            <li>Vágási rajzok ellenőrzése</li>
            <li>Méret, illetve minőségellenőrzés</li>
          </ul>
        </div>
      </div>
    </div>

    <!--elválasztó-->
    <div class="sarga-csik"></div>
    <!--elválasztó-->


    <!-- QR KÓD START -->
    <div class="qr_code">
      <div id="qrkod_design" class="bg-warning text-dark">
        <p>QR KÓD beolvasása: </p>
      </div>
      {% load qr_code %}
      <!-- ip cim ha kellene {{ip}} -->
      {% qr_from_data ip size='M' %}
      
    </div>
    <!-- QR KÓD END -->

  </div>

</body>

</html>