{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Megrendelés nyomtatása</title>
    <input type="hidden" value="{{ id }}" id="id">
    <script defer src="{% static 'js/nyomtatas.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nyomtatas.css' %}">

</head>
<body>
    <input type="hidden" value="{{ qr }}" id="qr">
    <p id = "qr">Ip:{{qr}}</p>
    <div class="container">
        <h2>Raktári kiadás</h2>
        <p id="kialitoneve">Kiállító neve</p>
        <p id="munkalap_szama"></p>
        <p id="bizonylat_kelte"></p>
        <p id="teljesites_datuma"></p>
        <div class="table"> 
            <table>
                <tbody>
                    <tr>
                        <th>Cikkszám</th>
                        <th>Mennyiség</th>
                        <th>Méret</th>
                        <th>Anyag</th>
                    </tr>
                    <tr>
                        <td id="cikkszam"></td>
                        <td id="mennyiseg"></td>
                        <td id="meret"></td>
                        <td id="anyag"></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="signature-line-container">
            <p>Kiállító aláírása</p>
        </div>
        
    </div>
</body>
</html>