{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Megrendelés nyomtatása</title>
    <input type="hidden" value="{{ id }}" id="id">
    <script defer src="{% static 'js/nyomtatas.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="table">
            <table style="border: 1px solid black; 
                width: 60%; margin: auto; 
                border-collapse: collapse;">
                <tbody style="border: 1px solid black">
                    <tr style="border: 1px solid black">
                        <td style="border: 1px solid black">
                            <h2>Raktári kiadás</h2>
                        </td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td>
                            <p id="kialitoneve">Kiállító neve</p> <label ></label>
                            <p id="munkalap_szama"></p> <label ></label>
               
                        </td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <td>
                            <p id="bizonylat_kelte"></p>
                        </td>
                        <td>
                            <p id="teljesites_datuma"></p>
                        </td>
                    </tr>
                    <tr style="border: 1px solid black">
                        <th style="border: 1px solid black">Cikkszám</th>
                        <th style="border: 1px solid black">Mennyiség</th>
                        <th style="border: 1px solid black">Méret</th>
                        <th style="border: 1px solid black">Anyag</th>
                    </tr>
                    <tr>
                        <td id="cikkszam" style="border: 1px solid black"></td>
                        <td id="mennyiseg" style="border: 1px solid black"></td>
                        <td id="meret" style="border: 1px solid black"></td>
                        <td id="anyag" style="border: 1px solid black"></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</body>
</html>