{% load static %}
<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="LemezKez - Raktári Lemezkezelés Vizsgaremek">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django">
    <meta name="author" content="Németh Zoltán, Nyisztor Zoltán, Kovács Marcell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap.min belinkelése-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--saját css linkelése-->
    <link rel="stylesheet" href="{% static 'css/raktar.css' %}">

    <title>LemezKez - Megrendelés felvétele</title>
</head>

<body>




    <!-- NAVBAR menüsáv ELEJE -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">

            <a class="navbar-logo1" href=""><img src="/static/pictures/lemezkez-logo-navbar-forklift.png"
                    alt="LemezKez Logó" title="LemezKez Logója">
                <a class="navbar-logo2" href=""><img src="/static/pictures/lemezkez-logo-navbar.png" alt="LemezKez Logó"
                        title="LemezKez Logója">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Főoldal</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="http://127.0.0.1:8000/naptar">Naptár</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'megrendeles' %}">Megrendelések oldal</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Kijelentkezés</a>
                            </li>
                        </ul>

                    </div>
        </div>
    </nav> <!-- NAVBAR menüsáv VÉGE -->
   

    <!-- START megrendeles oldal tartalma -->

    <div id="kozepre" class="container-fluid">

        <img class="warning-pics" src="/static/pictures/user_icon_raktaros-feher.png" alt="raktáros felhasználói ikon"
            title="raktáros felhasználói ikon">

        {% if user.is_authenticated and user.raktaros == True %}

        <div class="loggedin">
            <span> Üdv: {{user.username}} !</span>
        </div>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <div class="form-group" id="kijelentkezesGomb"><button class="btn btn-block btn btn-warning"
                    type="submit">Kijelentkezés</button></div>
        </form>

    </div>

    <div id="kozepre" class="container-fluid">

        <!--elválasztó-->
        <div class="sarga-csik"></div>

        {% if messages %}
        <!--nem kell üzenet-->
        {% endif %}

        <h2>Bevitel: A beérkezett lemeztáblák rögzítése, felvitele.</h2>
        <a href="{%url 'megrendeles'%}">Megrendelés oldal</a>
            
<!-- TOGGLE gombok -->
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-md-6">
                    <div class="d-flex flex-column">

                        <button class="btn btn-primary btn-warning mb-3" onclick="toggleContent(1)">Bevitel
                            megnyitása</button>
                        <div id="content1" class="content">

                            <!-- bevitel tartalma 1 -->
                            <form method="POST">
                                {% csrf_token %}
                                {{bevform.as_p}}
                                <!--input type="submit" value = "Rögzítés" name="bevitel"-->
                                <!--button  type="submit" name="bevitel">Rögzítés1</button-->
                                <button class="btn btn-block btn btn-warning" type="submit" name="bevitel">Bevétel rögzítése</button> 
                                
                            </form>
                            <div class="text-warning" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>

                              <!--elválasztó-->
        <div class="sarga-csik"></div>
        <!--elválasztó-->

        <h2>Kiadás: Lemeztáblák kiadása, kivétele.</h2>
            <button class="btn btn-primary btn-warning mt-3" onclick="toggleContent(2)">Kiadás megnyitása</button>
                <div id="content2" class="content mt-3">

                    <!-- bevitel tartalma 2 -->
                    <form method="POST">
                        {%csrf_token%}
                        {{ kiform.as_p }}
                         <!--button name="kiad" type="submit">Rögzítés2</button-->
                         <button class="btn btn-block btn btn-warning" type="submit" name="kiad">Kiadás rögzítése</button> 
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--elválasztó-->
        <div class="sarga-csik"></div>
        <!--elválasztó-->


        <!-- START bejelentkezés LOG üzenet -->
        <ul class="log-informacio">
            <h3>LOG információ:</h3>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style-type: none;">{{ message }}</li>
                {% endfor %}
        </ul>
        <!-- END bejelentkezés LOG üzenet -->

        <!--elválasztó-->
        <div class="sarga-csik"></div>
        <!--elválasztó-->

    </div>

    <div class="raktartartalom">
        <table>
            <tr>
                <th>id</th>
                <th>Anyag tipusa</th>
                <th>Vastagsag</th>
                <th>Meret</th>
                <th>Darabszam</th>
                <th>Polc száma</th>
                <th>Rögzítés dátuma</th>

            </tr>

            {% for adatok in object_list%}
            <tr>
                <td>{{adatok.id}}</td>
                <td>{{adatok.anyagtipusa}}</td>
                <td>{{adatok.vastagsag_valaszt}}</td>
                <td>{{adatok.meret_valaszt}}</td>
                <td>{{adatok.darabszam}}</td>
                <td>{{adatok.polc_szama}}</td>
                <td>{{adatok.rogzit_datum}}</td>

            </tr>

            {% endfor %}
        </table>
    </div><!--Raktar tartalom vége-->

    {%else%}
    <h2>Be vagy jelentkezve, de nincs jogosultságod a "RAKTÁR" oldal megtekintéséhez!</h2>

    <!--elválasztó-->
    <div class="sarga-csik"></div>
    <!--elválasztó-->

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <div class="form-group" id="kijelentkezesGomb"><button class="btn btn-block btn btn-warning"
                type="submit">Kijelentkezés</button></div>
    </form>

    {%endif%}

    <!-- END Oldal tartalma -->

    <!--elválasztó-->
    <div class="sarga-csik"></div>
    <!--elválasztó-->



    <!-- Bootstrap JS (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script>
        function toggleContent(id) {
            var content = document.getElementById('content' + id);
            var isVisible = content.style.display === 'block';

            // Bezár minden tartalmat, ha nyitva van
            if (isVisible) {
                content.style.display = 'none';
            } else {
                // Bezár minden tartalmat
                document.querySelectorAll('.content').forEach(content => {
                    content.style.display = 'none';
                });

                // Nyitja meg a kiválasztott tartalmat
                content.style.display = 'block';
            }
        }
    </script>


    <script>
        function scrollImage(event) {
            // A görgetés mértékének kiszámítása
            let scrollRatio = event.target.scrollLeft / (event.target.scrollWidth - event.target.clientWidth);

            // A kép vízszintes pozíciójának beállítása a görgetés mértékének függvényében
            let image = document.querySelector('.scrollable-image');
            let maxOffset = event.target.clientWidth - image.width;
            let offset = maxOffset * scrollRatio;
            image.style.left = -offset + 'px';
        }
    </script>










</body>

</html>